.add-task
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 10px
    padding: 5px
    &__input
        flex: 1 0 auto
        margin-right: 20px
        height: 30px
        width: 0px
